# compiled output
/dist
/node_modules
/artifacts
/build
/build-prod
/pre-build
.env
.env.docker
storage.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

markets.json
/markets

downloaded-history-bars

.rollup.cache
/history-bars/
/storage.db-journal

